<div>
  <h1><%= @photo.title %></h1>
  <p><%= @photo.description %></p>
  <p><span>Updated at <%= @photo.updated_at.strftime("%B %d, %Y") %></span></p>
</div>
<div>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>
